body {
  font-family: Microsoft YaHei;
}
footer {
  background-color: #8eb67a;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.post-zone {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ef754c;
}