.starter-template {
  padding: 25px 10%;
}
.starter-template .main-post {
  padding: 25px 5%;
  background-color: #c0d5f8;
}
.starter-template .main-post h1,
.starter-template .main-post h2,
.starter-template .main-post h3 {
  text-align: center;
}
.starter-template .main-post .row {
  padding-top: 20px;
}