.archive-page {
  padding: 30px 12.5%;
}
.archive-page .container {
  background-color: var(--card-bg);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 20px 5%;
}
.archive-page .container .archive-title {
  color: var(--section-title-color);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-size: 2em;
  padding-bottom: 10px;
}
.archive-page .container .archive-year {
  color: var(--section-meta-color);
  font-size: 1.75em;
  padding: 10px 0 5px;
}
.archive-page .container .archive-item {
  display: flex;
  color: var(--card-title-color);
  padding: 5px 1.25%;
}
.archive-page .container .archive-item a {
  color: inherit;
  text-decoration: none;
}
.archive-page .container .archive-item a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .archive-page {
    padding: 10px 2.5%;
  }
}
